* {
    margin: 0px;
    padding:0px;
    font-family: "Hiragino Kaku Gothic ProN", "meiryo", sans-serif;
    font-weight: normal;
}
#highlight {
        color:orange;
        font-weight:bold;
}

body {
    background-color: rgb(15, 15, 15);
}
/*----------------------------------------header----------------------------------------*/
#header {
    width: 100%;
    height: 70px;
    /* background-color: rgb(10, 10, 10); */
    vertical-align: middle;
    position: relative;
    
}

.header-logo {
    float: left;
    padding: 0px 40px;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 30%;
}

.header-logo img {
    height: 60%;
}

.header-list {
    height: 100%;
    float: right;
    vertical-align: middle;
    /* vertical-align: middle; */
}

.header-list ul {
    display: inline-block;
    vertical-align: middle;
    padding-top: 22px;
    padding-right: 20px;
    height: 100%;
}

.header-list li {
    display: inline-block;
    vertical-align:middle;
    list-style: none;
    float: left;
    padding: 0px 14px;
    font-size: 20px;
    
    color: white;
}
.header-list a{
        color: white;
        text-decoration: none;
        transition: color 0.65s;
        font-family: 'Quicksand', sans-serif;
}
.header-list a:visited:not(:hover):not(:active){
         color: #ffffff; 
}
.header-list a:hover{
        color: rgb(255, 200, 0); 
}



/*----------------------------------------toppage----------------------------------------*/
.top-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.top-wrapper img {
    width: 100%;
    filter: contrast(110%);

}

.top-wrapper p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 200, 0);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: blue; */
    display: inline-block;
    font-size: 8vw;
    width: 100vw;
}


/*----------------------------------------about us----------------------------------------*/
.wrapper-about_us {
        background-color: white;
        color:rgb(100, 100, 100);
        width: 100%;
        
}

.wrapper-about_us h1{
        color:rgb(255, 200, 0);
        padding:60px;
        font-size: 100px;
        font-family: Futura, 'Century Gothic';
        margin: 0px;
}

.wrapper-about_us .member-profile{
        display: inline-block;
        width:80%;
        height: 200px;
        margin-left: 10%;
}
.wrapper-about_us .member-info{
        display: inline-block;
        height: 100%;
        width: 60%;
        padding-left: 20px;

}
.wrapper-about_us .member-name{
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
}

.wrapper-about_us .member-detail{
        line-height:170%; 
        font-size: 14px;
        font-weight: lighter;
        clear: both;
        width: 100%;
        padding-top: 5px;
}

.wrapper-about_us img{
        display: inline-block;
        width:150px;
        float: left;
}


/*----------------------------------------footer----------------------------------------*/
.footer-wrapper{
        background-color:white;
        width: 100%;
        padding-bottom: 30px;
}

.footer-wrapper img{
        display: block;
        margin:0 auto;
        width: 150px;
        padding-top: 40px;
        padding-bottom: 30px;
}

.footer-wrapper p{
        font-size: 14px;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 10px;
}

/*----------------------------------------ImpactZemi----------------------------------------*/
.impactZemi{
        background-color: white;
        padding: 40px 60px;
}
.impactZemi h1{
        font-weight: normal;
        text-align: center;
        margin: 0px;
        font-size: 4vw;
}

.impactZemi p{
        padding: 12px;
        line-height: 170%;
}

.impactZemi .x{
        color:rgb(20, 20, 20);
        font-size:10vw; 
        font-weight: bold;
        padding:5px;
}
.impactZemi .features{
        width: 26vw;
        border-radius: 3vw;
        display: inline-block;
        color: white;
}

.impactZemi .features-subject{
        text-align: center;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        padding: 10px;
        font-size: 8vw;
        font-weight: bold; 
}


.impactZemi .impactZemi-two{
        width: 100%;
        padding-bottom: 14px;
        text-align: center;
}

.impactZemi img{
        display: block;
        width:100%;
        margin:0 auto;
        padding: 5px;
}
