* {
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: black;
}
/*----------------------------------------header----------------------------------------*/
#header {
    width: 100%;
    height: 70px;
    background-color: rgb(10, 10, 10);
    vertical-align: middle;
    position: relative;
}

.header-logo {
    float: left;
    padding: 0px 20px;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 30%;
}

.header-logo img {
    height: 60%;
}

.header-list {
    height: 100%;
    float: right;
    vertical-align: middle;
    /* vertical-align: middle; */
}

.header-list ul {
    display: inline-block;
    vertical-align: middle;
    padding-top: 25px;
    padding-right: 20px;
    height: 100%;
}

.header-list li {
    display: inline-block;
    vertical-align:middle;
    list-style: none;
    float: left;
    padding: 0px 10px;
    font-size: 20px;
    /* height: 100%; */
    color: white;
}
.header-list a{
        color: white;
        text-decoration: none;
        transition: color 0.65s;
}
.header-list a:visited:not(:hover):not(:active){
         color: #ffffff; 
}
.header-list a:hover{
        color: rgb(255, 200, 0); 
}



/*----------------------------------------toppage----------------------------------------*/
.top-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.top-wrapper img {
    width: 100%;
}

.top-wrapper p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 200, 0);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: blue; */
    display: inline-block;
    font-size: 10vw;
    width: 100vw;
}


/*----------------------------------------about us----------------------------------------*/
.wrapper-about_us {
        background-color: white;
        color:rgb(100, 100, 100);
        width: 100%;
}

.wrapper-about_us h1{
        color:rgb(255, 200, 0);
        padding:60px;
        font-size: 100px;
        margin: 0px;
}

.wrapper-about_us .member-profile{
        display: inline-block;
        width:80%;
        height: 200px;
        margin-left: 10%;
}
.wrapper-about_us .member-info{
        display: inline-block;
        height: 100%;
        width: 60%;
        padding-left: 20px;

}
.wrapper-about_us .member-name{
        font-size: 30px;
        font-weight: bold;
        padding-top: 20px;
}

.wrapper-about_us .member-detail{
        line-height:150%; 
        font-size: 14px;
        clear: both;
        width: 100%;
}

.wrapper-about_us img{
        display: inline-block;
        width:150px;
        float: left;
}